.sign-up-bg {
    background-image: url;
    background-size: cover;
    position:fixed;
    min-height: 100%;
    min-width: 100%;
    background-position: center;
  }
  
  .font-weight-bold-sign-up {
      font-weight: bold;
  }
  
  .custom-form-content {
      padding: 10px;
      border-radius: 30px;
      width: 500px;
      margin: auto;
      margin-top: 30px;
      background-color: rgba(137, 190, 177, 0.575);
  }
  